@import "@variables/variables.scss";
@import "@mixins/mixins.scss";

.buttonsContainer {
  position: absolute;
  bottom: 295px;
  padding-left: 80px;
  @media (max-width: 1190px) {
    bottom: 25%;
  }
  @media (max-width: 800px) {
    display: none;
  }

    @media (max-width: 768px) {
      margin-bottom: 4px;
    }

    div {
      font-size: 14px;
    }

    button {
      width: 50px;
      height: 50px;
      border: 1px solid $textColor;
      color: $textColor;
      background: $backgroundColor;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      margin-right: 20px;
      margin-top: 20px;
    }

    button[disabled] {
      border: 1px solid rgba(118, 118, 118, 0.3);
      background: rgba(239, 239, 239, 0.3);
    }
  }

