@import "./variables.scss";

@mixin text($color,$fontFamily,$fontSize, $fontWeight) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-style: normal;
}
