$textColor: #42567A;
$borderColor: rgba(66, 86, 122, 0.1);
$yearesColor: #3877EE;
$backgroundColor: #E5E5E5;
$firstYeareColor: #5D5FEF;
$secondYeareColor: #ef5da8;
$yearesFontTitle: 'Bebas Neue', sans-serif;
$discriptionFontTitle: 'PT Sans', sans-serif;